<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'MoodleSharp' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>8f2501fd-e9eb-4976-8b0d-f8aff2cc2064</InstrumentationKey>
</ApplicationInsights>